---

# To onboard:
#
# 1. install pre-commit app. This can be done either once, globally on your workstation,
#    or locally in your virtual environment (if you have such):
#
#    $ pip install pre-commit
#
# 2. install pre-commit hook in your working copy of a git repository:
#
#    $ pre-commit install
#
# From now on, git will run pre-commit hook before every `git commit`.
#
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks.git
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-yaml
      - id: end-of-file-fixer
        exclude: |
            (?x)^(
                gluetool_modules_framework/tests/assets/test_schedule_tmt/passed/execute/logs/tests/core/docs/out\.log|
                gluetool_modules_framework/tests/assets/testing_farm/request1-log\.log
            )$
      - id: mixed-line-ending
      - id: no-commit-to-branch
        args:
          - "--branch"
          - "main"
      - id: trailing-whitespace
        exclude: |
            (?x)^(
                gluetool_modules_framework/tests/assets/test_schedule_tmt/passed/execute/logs/tests/core/docs/out\.log|
                gluetool_modules_framework/tests/assets/test_schedule_tmt/passed/expected-results-junit\.xml
            )$

  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.5
    hooks:
      - id: insert-license
        files: \.py$
        args:
          - --license-filepath
          - LICENSE_SPDX

  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.35.1
    hooks:
      - id: yamllint
        args:
          - '--format'
          - 'parsable'
          - '--strict'

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.1
    hooks:
      - id: ruff

  - repo: https://github.com/ansible-community/ansible-lint.git
    rev: v24.6.1
    hooks:
      - id: ansible-lint
        additional_dependencies:
          - ansible-core<2.19

  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.18.4
    hooks:
      - id: gitleaks

  - repo: local
    hooks:
      - id: poetry-lock
        name: poetry-lock
        files: pyproject.toml
        language: python
        language_version: python3.12
        entry: poetry lock --no-update
        pass_filenames: false
